@tailwind base;
@tailwind components;
@tailwind utilities;

.inline-list {
    display: inline;
}

.inline-list li {
    display: inline;
}

.inline-list li:not(:last-child)::after {
    content: " | ";
}