$font-sizes: (
        1: 2em,
        2: 1.75em,
        3: 1.5em,
        4: 1.25em,
        5: 1em,
        6: 0.85em,
        7: 0.75em,
);

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.select2-container {
  min-width: unset;
}

.select2-container--default .select2-selection--single {
  border: 1px solid #ced4da;
}

.select2-container .select2-selection--single {
  height: 38px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
}
